.root {
	font-family: Urbanist, sans-serif;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.title {
	font-size: 2.5rem;
	line-height: 2rem;
	padding-top: 10rem;
}

.inputSection {
	display: flex;
	flex-direction: column;
	gap: 0.65rem;
	padding-bottom: 1rem;
}

.btn {
	border: none;
	padding: 1rem;
	font-family: Urbanist;
	font-weight: bold;
	border-radius: 0.25rem;
}

.btnSection {
	display: flex;
	gap: 1rem;
}

#responseSection {
	padding-top: 1.5rem;
}
